.banarshow {
  padding-top: 80px;
  padding-bottom: 80px;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.37)),
    url("/assets/breadcrumb.webp") center / cover no-repeat;
}

