<div class="banarshow">
    <div class="containt">
        <h1>Login</h1>
        <p>Home</p>
    </div>
</div>

<div class="container">
    <div class="login">
        <h1>Login</h1>

        <div class="input-group">
            <label class="label">Email address</label>
            <input type="email" placeholder="Email address" class="input" [(ngModel)]="email" name="email" required>
        </div>

        <div class="input-group">
            <label class="label">Password</label>
            <input type="password" placeholder="Password" class="input" [(ngModel)]="password" name="password" required>
        </div>

        <p *ngIf="errorMessage" class="error-msg">
            {{ errorMessage }}
        </p>

        <button class="login-button" (click)="onLogin()">
            SIGN IN
        </button>

        <a routerLink="/" class="back-home-link">Forgot Password</a>
        <p class="dont">Don't have an account?</p>
        <a routerLink="/create-account" class="back-home-link2">Create an Account</a>
    </div>
</div>