<div style="background-color:#31af68 ; padding-top: 30px;padding-bottom:30px ;">
<div class="container" >
    <div class="footer-top">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="footer-icon">
                <i class="bi bi-truck"></i>
                <div class="content-footericon">
                    <h6>Free delivery</h6>
                    <p>For all orders over $150</p>

                </div>
            </div>
          </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                   <div class="footer-icon">
              <i class="bi bi-credit-card-fill"></i>
                <div class="content-footericon">
                    <h6>Free delivery</h6>
                    <p>For all orders over $150</p>

                </div>
            </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                   <div class="footer-icon">
               <i class="bi bi-clock"></i>
                <div class="content-footericon">
                    <h6>Free delivery</h6>
                    <p>For all orders over $150</p>

                </div>
            </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                   <div class="footer-icon">
               <i class="bi bi-award"></i>
                <div class="content-footericon">
                    <h6>Free delivery</h6>
                    <p>For all orders over $150</p>

                </div>
            </div>
            </div>

        </div>
    </div>
    </div>
</div>

<div style="background-color: #f7f7f7;padding-bottom: 100px; padding-top: 100px;">
    <div class="container">
    <div class="footer-botom">
        <div class="row">

  <div class="col-12 col-sm-6 col-md-2" style="margin-top: 15px;">
    <div class="linkbotomfooter">
    <h2>Service</h2>
    <a href="#" style="margin-top: 21px;">About us</a>
    <br>
    <a href="#" style="margin-top: 7px;">Contact us</a>
    <br>
    <a href="#" style="margin-top: 7px;">Faq's</a>
    <br>
    <a href="#" style="margin-top: 7px;">News</a>
    <br>
    <a href="#" style="margin-top: 7px;">My cart</a>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-2" style="margin-top: 15px;">
    <div class="linkbotomfooter">
    <h2>Categories</h2>
    <a href="#" style="margin-top: 21px;">Injection</a>
    <br>
    <a href="#" style="margin-top: 7px;">Medicine</a>
    <br>
    <a href="#" style="margin-top: 7px;">Thermometer</a>
    <br>
    <a href="#" style="margin-top: 7px;">Sanitizer</a>
    <br>
    <a href="#" style="margin-top: 7px;">Nutraceutical</a>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-2" style="margin-top: 15px;">
      <div class="linkbotomfooter">
    <h2>Store live time</h2>
    <a href="#" style="margin-top: 21px;">Monday to saturday</a>
    <br>
    <a href="#" style="margin-top: 7px; color: #31af68;">9:00am to 22:00pm</a>
    <br >
    <a href="#" style="margin-top: 21px;">Sunday</a>
    <br>
    <a href="#" style="margin-top: 7px; color: #31af68;">9:00am to 15:00pm</a>
    <br>
  
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-3" style="margin-top: 15px;">
    <div class="linkfooter4">
        <h2>Contact</h2>
        <div style="display: flex;">
            <span>Address<span style="margin-left: 6px; margin-right: 2px;">:</span></span>
           <p>7 Cottage hill lane, charles, il, 60134  united </p>
        </div>

        <div style="display: flex;">
            <span>Call<span style="margin-left: 6px; margin-right: 2px;">:</span></span>
           <p>+ 210 123 456 7890 </p>
        </div>
        <div style="display: flex;">
            <span>Email<span style="margin-left: 6px; margin-right: 2px;">:</span></span>
           <p>demodemo.com </p>
        </div>
        <div class="linkfooter4icon">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-twitter"></i>
            <i class="bi bi-dribbble"></i>
        </div>
    </div>


  </div>
  <div class="col-12 col-md-3" style="margin-top: 15px;">
    <div class="linkfooter5">
        <h2>Subscribe newsletter</h2>
        <div>
            <input type="email" name="contact[email]" class="email mail" id="E-mail" value="" placeholder="Enter your email.." autocapitalize="off" required="">
        </div>
       
          <div class="form-check" style="margin-top: 20px;">
  <input class="form-check-input" type="checkbox" value="" id="checkDefault">
  <label class="form-check-label" for="checkDefault">
    Default checkbox
  </label>
</div>
<div style="display: flex;margin-top: 20px;">
    <img src="assets/images/pay-1.webp">
     <img src="assets/images/pay-1.webp" style="margin-left: 20px;">
</div>
       

        
        
       
    </div>
  </div>

</div>

    </div>
</div>
<hr style="margin-top: 10px;">
<div class="container">
  <div class="row" style="padding-top: 40px; padding-bottom: -20px;">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <div class="footerlastleft">
        <p>Copyright  2023 by QodexTM</p>
      </div> 
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <div class="footerlastmiddel">
        <img src="assets/logo.webp">
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <img src="assets/images/pay-1.webp" style="margin-left: 140px;">
    </div>

  </div>
</div>
</div>