<div class="banarshow">
    <div class="banar-container">
        <h1>Create Account</h1>
        <p>Home</p>
    </div>
</div>

<div class="container">
    <div class="login-card">
        <h1>Create account</h1>

        <div class="form-group">
            <label>First name</label>
            <input type="text" placeholder="First name" [(ngModel)]="firstname" name="firstname" required>
        </div>

        <div class="form-group">
            <label>Last name</label>
            <input type="text" placeholder="Last name" [(ngModel)]="lastname" name="lastname" required>
        </div>

        <div class="form-group">
            <label>Email address</label>
            <input type="email" placeholder="Email address" [(ngModel)]="email" name="email" required>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
        </div>

        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
        </div>

        <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
        <p *ngIf="successMessage" class="success-msg">{{ successMessage }}</p>

        <button type="submit" class="login-button" (click)="onRegister()">CREATE ACCOUNT</button>

        <p class="dont">Already an account holder?</p>
        <a routerLink="/login" class="back-home-link2">Login</a>
    </div>
</div>